
  
  .ikone_velicina {
    color: #ffffff;
    font-size: 34px;
  }
  
  .global {
    max-width: 1000px;
    width: 100%;
  }
  
  .global_detail {
    max-width: 1000px;
    margin: 30px auto 20px auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .footnote {
    display: flex;
    justify-content: center;
    background-color: #131313;
    padding: 40px 0 20px 0 ;
 
  }
  
  .ikone {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 280px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: #ffffff;

    margin-left: -30px;
    font-size: 28px;
   
    text-decoration: none;
  }
  
  .iman {
    color: #ffffff;
  }
  
  @media only screen and (max-width: 1000px) {
    .global_detail {
      flex-direction: column;
    }
  }
  